.productContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.productCard {
    padding: 10px;
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.productTitle {
    text-align: center;
    padding: 10px;
}

.productPrice {
    padding: 10px;
    text-align: center;
}

.productImage {
    width: 100%;
}