.card-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  padding-top: 20px;
  width: 15em;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 10px;
  padding-bottom: 1em;

}

.image {
  border-radius: 5px;
}

h1 {
  font-size: 1em;
  text-align: center;
  color: black;
}

.information {
  font-size: 0.8em;
  text-align: center;
  color: black;
}