@import url(variables.css);

body {

    font-family: Arial, Helvetica, sans-serif;

}


.container {
    display: flex;
}

.link-card {
    position: relative;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    /* Take up full width on small screens */
    margin-top: 15px;
}

.card {
    margin: 30px;
    width: var(--card-width);
    background-color: var(--card-bg-color);
    padding: var(--card-padding);
    box-shadow: var(--card-shadow-h-offset) var(--card-shadow-v-offset) var(--card-shadow-blur) var(--card-main-color);
}


.navbar-custom {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-feature-settings: "aalt" !important;
    font-stretch: normal !important;
    font-variant-numeric: normal !important;
    font-variation-settings: "wght" 600 !important;
    text-wrap: normal !important;
    color: aliceblue !important;
    text-decoration: none;
}

.paragraph-indent p {
    text-indent: 1em;
    margin-bottom: 0;
}

.paragraph-indent p:first-of-type {
    text-indent: 0;
}


@media only screen and (max-width: 700px) {

    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        align-items: center;
        text-align: center;
        font-size: 1rem;
    }

    .link-card {
        position: relative;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 15px;
    }

}